/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
	color: #272829;
	font-family: 'Ubuntu', sans-serif;
}

a {
	color: #149ddd;
	text-decoration: none;
}

a:hover {
	color: #37b3ed;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Ubuntu', sans-serif;
}

/*--------------------------------------------------------------
# Scroll
--------------------------------------------------------------*/

#mouse-scroll {
	position: relative;
}

#mouse-scroll {
	z-index: 9999;
	margin: auto;
	-webkit-transform: translateX(-50%);
}

.disappear {
	opacity: 0 !important;
}

#mouse-scroll span {
	display: block;
	width: 5px;
	height: 5px;
	margin: 0 0 3px 5px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	transform: rotate(45deg);
	border-right: 2px solid white;
	border-bottom: 2px solid white;
}

#mouse-scroll .mouse {
	top: 170px;
	width: 14px;
	height: 21px;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	border: 2px solid white;
	border-radius: 10px;
}

#mouse-scroll .down-arrow-1 {
	margin-top: 3px;
}
#mouse-scroll .down-arrow-1,
#mouse-scroll .down-arrow-2,
#mouse-scroll .down-arrow-3 {
	-webkit-animation: mouse-scroll 1s infinite;
	-moz-animation: mouse-scroll 1s infinite;
}
#mouse-croll .down-arrow-1 {
	-webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	-webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-2 {
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-3 {
	-webkit-animation-delay: 0.3s;
	-webkit-animation-direction: alternate;
	-moz-animation-dekay: 0.3s;
}
#mouse-scroll .mouse-in {
	display: block;
	position: relative;
	width: 2px;
	height: 5px;
	margin: 5px auto;
	background: white;
}
#mouse-scroll .mouse-in {
	-webkit-animation: animated-mouse 1.2s ease infinite;
	moz-animation: mouse-animated 1.2s ease infinite;
}

@-webkit-keyframes animated-mouse {
	0% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateY(6px);
		-ms-transform: translateY(6px);
		transform: translateY(6px);
		opacity: 0;
	}
}
@-webkit-keyframes mouse-scroll {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes mouse-scroll {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
	visibility: hidden;
	z-index: 996;
	position: fixed;
	right: 15px;
	bottom: 15px;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	background: #149ddd;
	opacity: 0;
	transition: all 0.4s;
}

.back-to-top i {
	color: #fff;
	font-size: 28px;
	line-height: 0;
}

.back-to-top:hover {
	background: #2eafec;
	color: #fff;
}

.back-to-top.active {
	visibility: visible;
	opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
	z-index: 9997;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 300px;
	padding: 0 15px;
	overflow-y: auto;
	background: #101b26;
	transition: all ease-in-out 0.5s;
	transition: all 0.5s;
}

#header .profile img {
	display: block;
	width: 150px;
	height: 150px;
	margin: 15px auto;
}

#header .profile h1 {
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 24px;
	font-weight: 600;
	-moz-text-align-last: center;
	text-align-last: center;
}

#header .profile h1 a,
#header .profile h1 a:hover {
	color: #fff;
	text-decoration: none;
}

#main {
	margin-left: 300px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
	padding: 30px 0 0 0;
}

.nav-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-menu > ul > li {
	position: relative;
	white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
	padding: 12px 15px;
	color: #a8a9b4;
	font-size: 15px;
	transition: 0.3s;
}

.nav-menu a i,
.nav-menu a:focus i {
	padding-right: 8px;
	color: #6f7180;
	font-size: 24px;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
	color: #fff;
	text-decoration: none;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover > a i {
	color: #149ddd;
}

/* Mobile Navigation */
.mobile-nav-toggle {
	display: inline-flex;
	z-index: 9998;
	position: fixed;
	top: 15px;
	right: 15px;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border: 0;
	border-radius: 50px;
	outline: none !important;
	background-color: #149ddd;
	color: #fff;
	font-size: 24px;
	line-height: 0;
	cursor: pointer;
	transition: all 0.4s;
}

.mobile-nav-active {
	overflow: hidden;
}

.mobile-nav-active #header {
	left: 0;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
	width: 100%;
	height: 100vh;
	padding-left: 300px;
	background: url('../img/hero-bg.jpg') top center;
	background-size: cover;
}

#hero:before {
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(5, 13, 24, 0.3);
	content: '';
}

#welcome {
	display: flex;
	z-index: 2;
	position: absolute;
	top: 90vh;
	left: 50vw;
	transform: translate(-50%, 0);
	color: #fff;
}

#welcome .welcome-message {
	color: wthie;
	font-size: 18px;
}

@media (min-width: 1024px) {
	#hero {
		background-attachment: fixed;
	}
}

@media (max-width: 768px) {
	#hero h1 {
		font-size: 28px;
		line-height: 36px;
	}

	#hero h2 {
		margin-bottom: 30px;
		font-size: 18px;
		line-height: 24px;
	}
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
	padding: 60px 60px;
	overflow: hidden;
}

.section-bg {
	background: #f5f8fd;
}

.section-title {
	padding-bottom: 30px;
}

.container h2 {
	position: relative;
	margin-bottom: 20px;
	padding-bottom: 20px;
	color: #173b6c;
	font-size: 32px;
	font-weight: bold;
}

.section-title p {
	margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about h3 {
	color: #173b6c;
	font-size: 26px;
	font-weight: 700;
}

.about .avatar {
	margin-top: auto;
	margin-bottom: auto;
}

.about .img-fluid {
	margin-bottom: 20px;
	border-radius: 10px;
}

.about .description {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	max-width: 600px;
	text-align: justify;
}

.about ul {
	padding: 0;
	list-style: none;
}

.about ul li {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.about ul strong {
	margin-right: 10px;
}

.about ul i {
	margin-right: 5px;
	font-size: 16px;
	/* color: #149ddd; */
	line-height: 0;
}

.about .content p:last-child {
	margin-bottom: 0;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills .progress {
	display: block;
	height: 60px;
	border-radius: 0;
	background: none;
}

.skills .progress .skill {
	display: flex;
	align-items: center;
	margin: 0 0 6px 0;
	padding: 0;
	color: #050d18;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
}

.skills .progress .skill img {
	margin-right: 5px;
}

.skills .progress .skill .val {
	margin-left: auto;
	font-style: normal;
}

.skills .progress-bar-wrap {
	height: 2px;
	background: #dce8f8;
}

.skills .progress-bar {
	width: 1px;
	height: 2px;
	background-color: #149ddd;
	transition: 0.9s;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
	margin-top: 20px;
	margin-bottom: 20px;
	color: #050d18;
	font-size: 26px;
	font-weight: 700;
}

.resume .resume-item {
	position: relative;
	margin-top: -2px;
	padding: 0 0 20px 20px;
	border-left: 2px solid #1f5297;
}

.resume .resume-item h3 {
	margin-bottom: 10px;
	color: #050d18;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 18px;
}

.resume .resume-item h4 {
	font-family: 'Ubuntu';
	font-size: 16px;
}

.resume .resume-item h5 {
	display: inline-block;
	margin-bottom: 10px;
	padding: 5px 15px;
	background: #e4edf9;
	font-size: 16px;
	font-weight: 600;
}

.resume .first-portfolio {
	padding-left: 30px;
}

.resume .resume-portfolio {
	display: flex;
	flex-direction: row;
}

.resume .resume-item ul {
	padding-left: 20px;
}

.resume .resume-item ul li {
	padding-bottom: 10px;
	padding-left: 10px;
}

.resume .resume-item:last-child {
	padding-bottom: 0;
}

.resume .resume-item::before {
	position: absolute;
	top: 0;
	left: -9px;
	width: 16px;
	height: 16px;
	border: 2px solid #1f5297;
	border-radius: 50px;
	background: #fff;
	content: '';
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

.portfolio .img-fluid {
	border-radius: 10px;
}

.portfolio .portfolio-section .description {
	margin-top: 10px;
	text-align: justify;
}

.portfolio .skillset {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.portfolio .right-align .skillset li {
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 5px;
	float: right;
	border-radius: 10px;
	background-color: #149ddd;
	color: white;
}

.portfolio .skillset li {
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 5px;
	float: left;
	border-radius: 10px;
	background-color: #149ddd;
	color: white;
}

.portfolio .portfolio-section {
	margin-bottom: 100px;
}

.portfolio .right-align {
	text-align: right;
}

.portfolio .left-align {
	text-align: left;
}

.portfolio .portfolio-item {
	box-sizing: content-box;
	min-height: 320px;
	text-align: center;
}

.portfolio .swiper {
	overflow: hidden;
}
.portfolio .swiper-pagination {
	position: relative;
	margin-top: 20px;
}

.portfolio .swiper-pagination .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	border: 1px solid #149ddd;
	background-color: #fff;
	opacity: 1;
}

.portfolio .swiper-pagination .swiper-pagination-bullet-active {
	background-color: #149ddd;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
	margin-bottom: 20px;
}

.services .icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 54px;
	height: 54px;
	float: left;
	border: 1px solid #149ddd;
	border-radius: 50%;
	background: #149ddd;
	transition: 0.5s;
}

.services .icon i {
	color: #fff;
	font-size: 24px;
	line-height: 0;
}

.services .icon-box:hover .icon {
	background: #ffffff;
}

.services .icon-box:hover .icon i {
	color: #149ddd;
}

.services .icon-box:hover .svg-white {
	filter: invert(47%) sepia(74%) saturate(1577%) hue-rotate(168deg) brightness(95%) contrast(83%);
}

.services .title {
	margin-bottom: 15px;
	margin-left: 80px;
	font-size: 18px;
	font-weight: 700;
}

.services .title a {
	color: #343a40;
}

.services .title a:hover {
	color: #149ddd;
}

.services .description {
	margin-left: 80px;
	font-size: 16px;
	line-height: 24px;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
	padding-bottom: 130px;
}

.contact .info {
	display: flex;
	width: 100%;
	padding: 30px;
	background: #fff;
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.full-width {
	width: 100%;
}

.contact .info a {
	width: 100%;
	line-height: 40px;
}

.contact .icon-box .icon {
	margin-right: 10px;
	border: solid 2px #189fde;
	border-radius: 20px;
	transition: 0.5s;
}

.svg-sky {
	margin: 4px;
	filter: invert(54%) sepia(78%) saturate(2257%) hue-rotate(168deg) brightness(91%) contrast(90%);
}

.contact .icon-box:hover {
	background-color: aliceblue;
}

.contact .icon-box:hover .icon {
	background-color: #149ddd;
}
.contact .icon-box:hover .svg-sky {
	filter: invert(100%) sepia(94%) saturate(25%) hue-rotate(12deg) brightness(105%) contrast(108%);
}

.contact .block {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.contact .block p {
	margin-top: auto;
	margin-bottom: auto;
	float: left;
}

.contact .info i {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	margin-right: 10px;
	float: left;
	border-radius: 50px;
	background: #dff3fc;
	color: #149ddd;
	transition: all 0.3s ease-in-out;
}

.contact .info h4 {
	margin-bottom: 5px;
	padding: 0 0 0 60px;
	color: #050d18;
	font-size: 14px;
	font-weight: 600;
}

.contact .info p {
	color: #173b6c;
	font-size: 16px;
}

.svg-grey {
	margin-right: 8px;
	filter: invert(49%) sepia(9%) saturate(526%) hue-rotate(196deg) brightness(87%) contrast(88%);
}

.svg-white {
	filter: invert(100%) sepia(94%) saturate(25%) hue-rotate(12deg) brightness(105%) contrast(108%);
}

@-webkit-keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@media (max-width: 768px) {
	.breadcrumbs .d-flex {
		display: block !important;
	}

	.about .description {
		width: 100%;
		max-width: 1000px;
	}

	.breadcrumbs ol {
		display: block;
	}

	.breadcrumbs ol li {
		display: inline-block;
	}
}

@media (max-width: 1199px) {
	#footer {
		position: static;
		width: auto;
		padding-right: 20px 15px;
	}
}

@media (max-width: 1199px) {
	#header {
		left: -300px;
	}

	#main {
		margin-left: 0;
	}
}

@media (max-width: 1500px) {
	.about .avatar {
		width: 100%;
	}

	.about .description {
		width: 100%;
		max-width: 1500px;
	}
}
